
@{
    ViewBag.Title = "Payment";
}

@{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Fn_Get_Payment();

        });

        function Fn_Get_Payment() {

            var clsPayment = {};
            clsPayment.CustomerCode = "1200002325";

            $.ajax({
                type: "POST",
                url: '/Payment/Fn_Get_Payment',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsPayment),
                success: function (data) {
                    $("#tbody").html('');
                    var obj = JSON.parse(data.message);

                    var html = ''; var rowCount = 0
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {

                            html = html + "<div class='col-lg-3 col-md-6 col-sm-8'>";
                            html = html + "<div class='singel-publication mt-30'>";
                            html = html + "<div class='name'>";
                            html = html + "<p style='font-size: 12px;'><b>Invoice:</b> " + obj[i].InvNo + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Invoice Date:</b> " + obj[i].InvDate + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Customer:</b> " + obj[i].CustomerName + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Document Type:</b> " + obj[i].DocumentType + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Debit Amt INR:</b> " + obj[i].DebitAmtINR + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Credit Amt INR:</b> " + obj[i].CreditAmtINR + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Balance INR:</b> " + obj[i].BalanceINR + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Doc Currency:</b> " + obj[i].DocCurrency + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Due Days:</b> " + obj[i].DueDays + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Sales Person:</b> " + obj[i].SalesPersonName + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Division:</b> " + obj[i].DivisionDescription + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Over Due Days:</b> " + obj[i].OverDueDays + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Pay Term:</b> " + obj[i].PayTermDesc + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Sales Order:</b> " + obj[i].SalesOrder + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Due Date:</b> " + obj[i].DueDate + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Fiscal Year:</b> " + obj[i].FiscalYear + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Invoice Qty:</b> " + obj[i].InvQty + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>LC Date:</b> " + obj[i].LCDate + "</p>";

                            html = html + "<p style='font-size: 12px;'><b>LC No:</b> " + obj[i].LCNo + "</p>";
                            html = html + "<p style='font-size: 12px;'><b>Country:</b> " + obj[i].CountryName + "</p>";

                            html = html + "</div>";
                            html = html + "</div>";
                            html = html + " </div>";

                            rowCount++;
                        }
                    }
                    else {
                       // html += "<tr><td style='padding: 5px; font-size: 10px;' colspan='4'><p class='text-center'>" + obj[0].vErrorMsg + "</p></td></tr>";
                    }
                    $("#dvList").append(html);
                    $('#liItemCount').html(rowCount + ' Records')
                },
                error: function (err) {
                    alert(err);
                }
            });
        }



    </script>
}

<section id="contact-page" class="pt-10 pb-10 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-top-search">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a href="@Url.Action("DashBoard", "Home")"><i class="fa fa-home"></i></a> /
                            </li>
                            <li class="nav-item">
                                Payment /
                            </li>
                            <li class="nav-item" id="liItemCount">
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="shop-grid" role="tabpanel" aria-labelledby="shop-grid-tab">
                <div class="row" id="dvList">

                </div> <!-- row -->
            </div>

        </div>

    </div> <!-- container -->

</section>

