
@{
    ViewBag.Title = "DashBoard";
}


<section id="shop-page" class="pt-10 pb-10 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-top-search" style="padding: 10px 30px;">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="shop-grid" role="tabpanel" aria-labelledby="shop-grid-tab">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">

                        <div class="singel-publication mt-10">
                            <div style="background-color: #f61111; box-shadow: 2px 8px 19px -9px #f61111; margin-top:-2%;">
                                <p class="text-center" style="color: #ffffff;">Feedback</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center">Positive</p>
                                <p class="text-center">Negative</p>
                                <p class="text-center">Neutral</p>
                                <p class="text-center mb-4"></p>                                    
                            </div>
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #45d009; box-shadow: 2px 8px 19px -9px #45d009; margin-top:-2%;">
                                <p class="text-center" style="color: #ffffff;">New Arrivals</p>
                            </div>
                                <div class="name mt-3">
                                    <p class="text-center" style="color: #505050;"><a href="@Url.Action("Yarn", "Product")" style="color: #505050;">Yarn</a></p>
                                    <p class="text-center" style="color: #505050;"><a href="@Url.Action("Fabric", "Product")" style="color: #505050;">Fabric</a></p>
                                    <p class="text-center" style="color: #505050;"><a href="@Url.Action("Garments", "Product")" style="color: #505050;">Garments</a></p>
                                    <p class="text-center" style="color: #505050; margin-bottom:-2%;"><a href="@Url.Action("New Products", "Product")" style="color: #505050;">New Products</a></p>
                                </div>
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #0fe1e1; box-shadow: 2px 8px 19px -9px #0fe1e1; margin-top:-2%;">
                                <p class="text-center" style="color: #ffffff;">Reorder</p>
                            </div>
                            <div class="name mt-3">
                                <p class="text-center">Open</p>
                                <p class="text-center">In-Process</p>
                                <p class="text-center">Closed</p>
                                <p class="text-center mb-4"></p>
                            </div>
                        </div> <!-- singel publication -->
                    </div>

                </div> <!-- row -->

            </div>

        </div> <!-- tab content -->

    </div> <!-- container -->

    <div class="container pt-10 pb-10">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-top-search" style="padding: 10px 30px;">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">Showcase</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="shop-grid" role="tabpanel" aria-labelledby="shop-grid-tab">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">

                        <div class="singel-publication mt-10">
                            <div style="background-color: #da17f1; box-shadow: 2px 8px 19px -9px #da17f1; margin-top:-2%;">
                                <p class="text-center" style="color: #ffffff;">Calalogue</p>
                            </div>
                          
                                <div class="name mt-3">
                                    <p class="text-center">Yarn</p>
                                    <p class="text-center">Fabric</p>
                                    <p class="text-center">Garments</p>
                                    <p></p>
                                </div>

                          
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #fea11d; box-shadow: 2px 8px 19px -9px #fea11d; margin-top:-2%;">
                                <p class="text-center" style="color: #ffffff;">Sample Order</p>
                            </div>
                                <div class="name mt-3">
                                    <p class="text-center">Sample Request</p>
                                    <p class="text-center">In-Process</p>
                                    <p class="text-center">Not Ready</p>
                                    <p></p>
                                </div>
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="singel-publication mt-10">
                            <div style="background-color: #6c757d; box-shadow: 2px 8px 19px -9px #6c757d; margin-top: -2%; ">
                                <p class="text-center" style="color: #ffffff;">Contact Us</p>
                            </div>
                                <div class="name mt-3">
                                    <p class="text-center">Email (Email Details)</p>
                                    <p class="text-center">Phone (Contact Details)</p>
                                    <p class="text-center">Office Address</p>
                                </div>
                        </div> <!-- singel publication -->
                    </div>

                </div> <!-- row -->
            </div>
        </div>

    </div>
</section>
