@{
    ViewBag.Title = "Feedback";
}

@{
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        const urlParams = new URLSearchParams(window.location.search);
        const prmvstatus = urlParams.get('vstatus');

        $('#liprm').html(prmvstatus);

        Fn_Get_Feedback(prmvstatus);

    });

    function Fn_Add_Feedback() {

        var strBTNVal = $('#btnSubmit').val();
        var strMsg = "";
        var clsFeedback = {};

        if (strBTNVal == "Update") {
            clsFeedback.Id = $('#hdnId').val();
            clsFeedback.QueryType = "Update";
            strMsg = "Updated record successfully"
        }
        else {
            clsFeedback.QueryType = "Insert";
            strMsg = "Save record successfully";
        }

        clsFeedback.Heading = $('#txtHeading').val();
        clsFeedback.Comments = $('#txtComments').val();
        clsFeedback.vStatus = $('input[name="rbStatus"]:checked').val();
        clsFeedback.UserId = 1;
        

        if (clsFeedback.Heading == "") {
            alert('Please Enter Heading');
        }
        else if (clsFeedback.Comments == "") {
            alert('Please Enter Comments');
        }
        else {
            $.ajax({
                type: "POST",
                url: '/Home/Fn_Add_Feedback',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsFeedback),
                success: function (data) {
                    var obj = JSON.parse(data.message);

                    if (obj.vErrorMsg == 'Success') {

                        swal('', strMsg, 'success');

                        $('#txtHeading').val("");
                        $('#txtComments').val("");
                        $('#myModal').modal('hide');

                        Fn_Get_Feedback(clsFeedback.vStatus);
                        $('#liprm').html(clsFeedback.vStatus);
                    }
                    else {
                        swal('', 'Inserting faild', 'error');
                    }
                },
                error: function (err) {
                    alert(err);
                }
            });
        }
    }

    function Fn_Get_Feedback(prmvstatus) {

        var clsFeedback = {};
        clsFeedback.UserId = 1;
        clsFeedback.vStatus = prmvstatus;
        clsFeedback.QueryType = "Select";

        $.ajax({
            type: "POST",
            url: '/Home/Fn_Get_Feedback',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(clsFeedback),
            success: function (data) {
                $("#tbody").html('');
                var obj = JSON.parse(data.message);
                if (obj[0].vErrorMsg == 'Success') {

                    var html = '';
                    for (var i = 0; i < obj.length; i++) {

                        html = html + "<tr>";
                        html = html + "<td>" + obj[i].Id + "</td>";
                        html = html + "<td>" + obj[i].Heading + "</td>";
                        html = html + "<td>" + obj[i].Comments + "</td>";
                        html = html + "<td>" + obj[i].RequestDate + "</td>";
                        html = html + "<td>" + obj[i].vStatus + "</td>";
                        html = html + "<td><i class='fa fa-edit text-success' onclick=Fn_Edit_Feedback(" + obj[i].Id + ")>";
                        html = html + " <i class='fa fa-trash text-danger ml-3' onclick='Fn_Delete_Feedback(" + obj[i].Id + ")'></td>";
                        html = html + "</tr>";
                    }
                }
                else {
                    html = html + "<tr><td colspan='5' class='text-center'> No Record Found</td></tr> ";
                }
                $("#tbody").append(html);
            },
            error: function (err) {
                alert(err);
            }
        });
    }

    function Fn_Delete_Feedback(id) {

        swal({
            title: "Are you sure?",
            text: "You want to delete!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    var clsFeedback = {};
                    clsFeedback.Id = id;
                    clsFeedback.UserId = 1;
                    $.ajax({
                        type: "POST",
                        url: '/Home/Fn_Delete_Feedback',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(clsFeedback),
                        success: function (data) {
                            var obj = JSON.parse(data.message);

                            if (obj.vErrorMsg == 'Success') {

                                swal('', 'Deleted record successfully', 'success');

                                const urlParams = new URLSearchParams(window.location.search);
                                const prmvstatus = urlParams.get('vstatus');
                                Fn_Get_Feedback(prmvstatus);
                            }
                            else {
                                swal('', obj.vErrorMsg, 'error');
                            }
                        },
                        error: function (err) {
                            alert(err);
                        }
                    });

                }
            });
    }


    function Fn_Edit_Feedback(id) {

        var clsFeedback = {};
        clsFeedback.UserId = 1;
        clsFeedback.Id = id;
        clsFeedback.QueryType = "SelectByID";

        $.ajax({
            type: "POST",
            url: '/Home/Fn_Get_Feedback',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(clsFeedback),
            success: function (data) {
                var obj = JSON.parse(data.message);
                if (obj[0].vErrorMsg == 'Success') {

                    $('#myModal').modal('show');
                    $('#hdnId').val(obj[0].Id);
                    $('#txtHeading').val(obj[0].Heading);
                    $('#txtComments').val(obj[0].Comments);
                    $('#rb' + obj[0].vStatus).attr('checked', 'checked');

                    $('#btnSubmit').val("Update");
                }
            },
            error: function (err) {
                alert(err);
            }
        });
    }

</script>
}

<!--====== ABOUT PART START ======-->

<section id="contact-page" class="pt-10 pb-10 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-top-search">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a href="@Url.Action("DashBoard", "Home" )"><i class="fa fa-home"></i></a> /
                            </li>
                            <li class="nav-item">
                                Feedback /
                            </li>
                            <li class="nav-item" id="liprm"> </li>
                        </ul>
                    </div>
                    <div class="shop-select">
                        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">Add Feedback</button>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <div class="row mt-3">
            <div class="col-lg-12">
                <table class="table table-bordered table-light">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Heading</th>
                            <th>Comment</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>

        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Heading</label>
                                <input type="text" class="form-control" id="txtHeading" name="txtHeading" />
                                <input type="hidden" id="hdnId" name="hdnId" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="radio" id="rbPositive" name="rbStatus" value="Positive" style="margin-top: 40px;" checked="checked" /> Positive
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="radio" id="rbNegative" name="rbStatus" value="Negative" style="margin-top: 40px;" /> Negative
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="radio" id="rbNeutral" name="rbStatus" value="Neutral" style="margin-top: 40px;" /> Neutral
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label>Comments</label>
                                <input type="text" class="form-control" id="txtComments" name="txtComments" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input type="button" class="btn btn-outline-success" value="Submit" style="margin-top: 30px" onclick="Fn_Add_Feedback();" id="btnSubmit" name="btnSubmit" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
