
@{
    ViewBag.Title = "CreateReorder";
}

@{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            const urlParams = new URLSearchParams(window.location.search);
            const prmSO = urlParams.get('so');
            const prmRID = urlParams.get('rid');
            const prmType = urlParams.get('type');

            if (prmType == "E") {
                Fn_GET_Reorder(prmRID);
                $('#btnSubmit').val("Update");
            }
            else if (prmType == "R") {
                Fn_GET_Sales_OrderDetail(prmSO);
                $('#btnSubmit').val("Submit");
            }
            else {
                $("#dvList").html('');
                $('#btnSubmit').val("Submit");
            }
           

        });

        function Fn_Create_Reorder() {

            var btnVal = $('#btnSubmit').val();
            const urlParams = new URLSearchParams(window.location.search);
            const prmSO = urlParams.get('so');
            const prmRID = urlParams.get('rid');

            var strMsg = "";
            var clsReorder = {};
            clsReorder.UserId = sessionStorage.getItem("CustId");
            clsReorder.CSAPId = sessionStorage.getItem("SAPCustId"); // 1100009112;

            if (btnVal == "Update") {
                clsReorder.QueryType = "Update";
                strMsg = "Reorder Updated successfully.";
            }
            else {
                clsReorder.QueryType = "Insert";
                strMsg = "Reorder successfully.";
            }

            var clsReorderList = [];
            var arrays = [];
            $('#tblList').eq(0).find('tr').each((r, row) => arrays.push($(row).find('td').map((c, cell) => $(cell).text()).toArray()))

            for (var i = 1; i < arrays.length; i++) {
                var _list =
                {
                    Category: arrays[i][0], Material: arrays[i][1], Descriptions: arrays[i][2],
                    Shade: arrays[i][3], Qty: arrays[i][4], UOM: arrays[i][5], Id: arrays[i][7], RID: prmRID,
                    vStatus: 'In-Process', UserId: 1, SO: prmSO, QueryType: clsReorder.QueryType
                    
                }

                clsReorderList.push(_list);
            }

            clsReorder = clsReorderList;
            
            $.ajax({
                type: "POST",
                url: '/Order/Fn_Create_Reorder',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsReorder),
                success: function (data) {
                    $("#tbody").html('');
                    var obj = JSON.parse(data.message);
                    if (obj.vErrorMsg == "Success") {
                        $("#dvList").html('');
                        swal("", strMsg, "success");
                    }
                    else {
                        swal("", obj.vErrorMsg, "error");
                    }
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Fn_GET_Sales_OrderDetail() {

            const urlParams = new URLSearchParams(window.location.search);
            const prmCode = urlParams.get('so');
            var clsSalesOrder = {};
            clsSalesOrder.CSAPId = sessionStorage.getItem("SAPCustId"); // 1100009112;
            clsSalesOrder.SO = prmCode;

            $.ajax({
                type: "POST",
                url: '/Order/Fn_GET_Sales_OrderDetail',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsSalesOrder),
                success: function (data) {
                    $("#dvList").html('');
                    var obj = JSON.parse(data.message);

                    var html = ''; 
                    if (obj[0].vERRORMSG == "Success") {
                        for (var i = 0; i < obj.length; i++) {

                            html += "<tr style='padding: 10px;'>";
                            html += "<td style='padding: 10px; font-size: 12px;'>Fabric</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].Material + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].Material_Description + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].Fab_Shade_Name + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].QTY + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].UOM + "</td>";
                            html += "<td><i class='fa fa-trash text-danger delete' style='color:red; mrgin-left: 20px;'></i></td>";
                            html += "</td>";
                            rowCount++;
                        }
                    }
                    else {

                      //  html += "<tr><td style='font-size: 12px;' colspan='9' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";
                    }
                    $("#dvList").append(html);

                },
                error: function (err) {
                    alert(err);
                }
            });
        }

         function Fn_GET_Reorder(so) {

            var clsReorder = {};
             clsReorder.UserId = sessionStorage.getItem("CustId");;
            clsReorder.RID = so;
            $.ajax({
                type: "POST",
                url: '/Order/Fn_GET_Reorder',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsReorder),
                success: function (data) {
                    $("#tbody").html('');
                    var obj = JSON.parse(data.message);
                    var html = '';
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {


                            html += "<tr style='padding: 10px;'>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].Category + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].Material + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].Descriptions + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].Shade + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].Qty + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].UOM + "</td>";
                            html += "<td><i class='fa fa-trash text-danger delete' style='color:red; mrgin-left: 20px;'></i></td>";
                            html += "<td style='padding: 10px; font-size: 12px; display: none;'>" + obj[i].Id + "</td>";
                            html += "</tr>";

                        }
                    }
                    else {

                       // html += "<tr><td style='font-size: 12px;' colspan='7' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";
                    }
                    $("#dvList").append(html);

                },
                error: function (err) {
                    alert(err);
                }
            });
        }

    </script>
}

<!--====== ABOUT PART START ======-->

<section id="contact-page" class="pt-10 pb-10 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-top-search">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a href="@Url.Action("DashBoard", "Home")"><i class="fa fa-home"></i></a> /
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Reorder", "Order")?vstatus=Open">Reorder</a> / 
                            </li>
                            <li class="nav-item"> Create</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

    </div> <!-- container -->
</section>

<section id="contact-page" class="pt-10 pb-10 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-from" style="padding: 25px">
                    <div class="main-form">
                        
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select id="ddlProductCategory" class="form-control" style="font-size: 12px;">
                                            <option value="0">--Select--</option>
                                            <option value="Fabric">Fabric</option>
                                            <option value="Garments">Garments</option>
                                            <option value="Yarn">Yarn</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Material</label>
                                        <input type="text" id="txtMaterial" name="txtMaterial" class="form-control" style="font-size: 12px;" value="" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input type="text" id="txtDescription" name="txtDescription" class="form-control" style="font-size: 12px;" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1 mb-1">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Shade</label>
                                        <input type="text" id="txtShade" name="txtShade" class="form-control" style="font-size: 12px;" value="" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Qty</label>
                                        <input type="text" id="txtQty" name="txtQty" onkeypress="if(isNaN(this.value + String.fromCharCode(event.keyCode))) return false;" class="form-control" style="font-size: 12px; text-align: right;" value="" />
                                    </div>
                                </div>
                                <div class="col-2 dvF">
                                    <div class="form-group">
                                        <label>UOM</label>
                                        <input type="text" id="txtUOM" name="txtUOM" class="form-control" style="font-size: 12px;" value="" />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <input type="submit" id="btnAdd" name="btnAdd" value="Add" onclick="Fn_Make_List();" class="btn btn-success" style="margin-top:30px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-lg-3 pr-lg-3">
                            <div style="overflow:auto; width: 100%;">
                                <table id="tblList" class="table table-striped table-hover">
                                    <thead style="background-color: #08417B; color: white;">
                                        <tr>
                                            <th style="color: white; padding: 10px;">Category</th>
                                            <th style="color: white; padding: 10px;">Material</th>
                                            <th style="color: white; padding: 10px;">Description</th>
                                            <th style="color: white; padding: 10px;">Shade</th>
                                            <th style="color: white; padding: 10px;">Qty</th>
                                            <th style="color: white; padding: 10px;">UOM</th>
                                            <td style="color: white; padding: 10px;">Action</td>
                                            <td style="color: white; padding: 10px; display: none;">Id</td>
                                        </tr>
                                    </thead>
                                    <tbody id="dvList"></tbody>
                                </table>
                            </div>

                            <script>
                                $(document).on("click", '.delete', function () {
                                    $(this).closest('tr').remove();
                                });

                                $("#txtGSM").keyup(function (e) {
                                    if (e.which == 13) {
                                        Fn_Make_List();
                                    }
                                    else {
                                        //  Do whatever you like
                                    }
                                    e.preventDefault();
                                });

                                function Fn_Make_List() {
                                    var html = '';
                                    $("#txtMaterial").focus();
                                    var p = $('#txtMaterial').val().trim();

                                    var tds = $("#tblList").find(".scancode");
                                    var isContains = false;
                                    for (var i = 0; i < tds.length; i++) {
                                        var td = tds[i];
                                        if (td.innerText == p) {
                                            isContains = true;
                                            break;
                                        }
                                    }
                                    if (isContains) {
                                        swal("", "Already Exist", "error");
                                        $('#txtMaterial').val("");
                                        p = '';
                                        return;
                                    }
                                    else {
                                        var ddlProductCategory = $('#ddlProductCategory').val();
                                        var txtMaterial = $('#txtMaterial').val();
                                        var txtDescription = $('#txtDescription').val();
                                        var txtQty = $('#txtQty').val();
                                        var txtUOM = $('#txtUOM').val();
                                        var txtShade = $('#txtShade').val();


                                        if (txtMaterial == "" || $('#ddlProductCategory').val() == "0" || txtQty == "") {
                                            swal("", "Please fill all fields", "error");
                                        }
                                        else {
                                            html += "<tr>";
                                            html += "<td>" + ddlProductCategory + "</td>";
                                            html += "<td class='scancode'>" + txtMaterial + "</td>";
                                            html += "<td>" + txtDescription + "</td>";
                                            html += "<td>" + txtShade + "</td>";
                                            html += "<td>" + txtQty + "</td>";
                                            html += "<td>" + txtUOM + "</td>";
                                            html += "<td><i class='fa fa-trash text-danger delete' style='color:red; mrgin-left: 20px;'></i></td></tr>";

                                            $("#txtMaterial").val("");
                                            $("#txtDescription").val("");
                                            $("#txtQty").val("");
                                            $("#txtUOM").val("");

                                            $("#dvList").append(html);


                                        }
                                    }
                                }

                            </script>

                        </div>
                        <div class="row pl-lg-3 pr-lg-3">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <div class="form-group pull-right">
                                    <input type="submit" id="btnSubmit" name="btnSubmit" value="Submit" onclick="Fn_Create_Reorder();" class="btn btn-outline-danger mt-4" />
                                    <a href="@Url.Action("Reorder", "Order")?vstatus=Open" class="btn btn-outline-success mt-4">Dsiplay</a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- main form -->
            </div> <!--  contact from -->
        </div>

    </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->
