
@{
    ViewBag.Title = "SalesOrder";
}

@{
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            Fn_GET_Sales_Order();
        });


        function Fn_GET_Sales_Order() {
            
            var clsSalesOrder = {};
            //clsSalesOrder.UserId = 1;
            clsSalesOrder.CSAPId = sessionStorage.getItem("SAPCustId");
            //clsSalesOrder.CSAPId = 1100009112;
            clsSalesOrder.SO = $('#txtSO').val();
            
            $.ajax({
                type: "POST",
                url: '/Order/Fn_GET_Sales_Order',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsSalesOrder),
                success: function (data) {
                    $("#tbody").html('');
                    var obj = JSON.parse(data.message);
                    var html = ''; var rowCount = 0;
                    if (obj[0].vERRORMSG == "Success") {
                        for (var i = 0; i < obj.length; i++) {

                            html += "<tr style='padding: 10px;' class='trColor' id='tr_" + obj[i].SO + "'>";
                            html += "<td class='tdColor' id='td_" + obj[i].SO + "' style='padding: 10px; font-size: 12px; cursor: pointer;'> <span onclick=Fn_GET_Sales_OrderDetail('" + obj[i].SO + "');>" + obj[i].SO + "</span></td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].Inv_Date + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].SOLD_TO_PARTY_NAME + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].BILL_TO_PARTY_NAME + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].CITY + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'>" + obj[i].COUNTRY + "</td>";
                            html += "<td style='padding: 10px; font-size: 12px;'><a href='@Url.Action("CreateReorder", "Order")?so=" + obj[i].SO + "&type=R' class='text-success'>Reorder</a></td>";
                            html += "</tr>";
                            rowCount++;
                        }
                    }
                    else {
                        html += "<tr style='padding: 10px;'><td style='font-size: 12px;' colspan='6'class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";
                    }
                    $("#tbody").append(html);
                    $('#liItemCount').html(rowCount + ' Results')
                },
                error: function (err) {
                    alert(err);
                }
            });
            }

        function Fn_GET_Sales_OrderDetail(SO) {
            window.location.href = "/Order/SalesOrderDetail?code='" + SO + "'";

        }

    </script>

}

<section id="contact-page" class="pt-10 pb-10 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-top-search">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a href="@Url.Action("DashBoard", "Home")"><i class="fa fa-home"></i></a> /
                            </li>
                            <li class="nav-item">
                                Sales Order /
                            </li>
                            <li class="nav-item" id="liItemCount">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-page" class="pt-10 pb-10 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-from" style="padding: 25px">
                    <div class="main-form">
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label> SO</label>
                                    <input type="text" id="txtSO" name="txtSO" class="form-control" style="font-size: 12px;" value="" placeholder="Search..." />
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <input type="submit" id="btnSearch" name="btnSearch" value="Search" onclick="Fn_GET_Sales_Order();" class="btn btn-success" style="margin-top: 30px;" />
                                </div>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-12">
                                <table class="table table-striped table-hover" style="max-height: 350px; overflow: auto;">
                                    <thead style="background-color: #08417B; color: white;">
                                        <tr>
                                            <td style="color: white; padding: 10px; font-size: 12px;">SO</td>
                                            <td style="color: white; padding: 10px; font-size: 12px;">SO Date</td>
                                            <td style="color: white; padding: 10px; font-size: 12px;">Sold Party Name</td>
                                            <td style="color: white; padding: 10px; font-size: 12px;">Bill Party Name</td>
                                            <td style="color: white; padding: 10px; font-size: 12px;">City</td>
                                            <td style="color: white; padding: 10px; font-size: 12px;">Country</td>
                                            <td style="color: white; padding: 10px; font-size: 12px;">Action</td>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div> <!-- main form -->
                </div> <!--  contact from -->
            </div>

        </div> <!-- row -->
    </div> <!-- container -->
</section>


