
@{
    ViewBag.Title = "FabricList";
}

@{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            Fn_Get_Search_Fabric();

        });

        function Fn_Get_Search_Fabric() {

            var imgPathCRM = '@System.Configuration.ConfigurationManager.AppSettings["imgPathCRM"]';
            const urlParams = new URLSearchParams(window.location.search);
            const prmblend = urlParams.get('blend');
            $('#liPRM').html(prmblend + " /");

            var clsFabric = {};
            clsFabric.BlendDescription = prmblend;

            $.ajax({
                type: "POST",
                url: '/Product/Fn_Get_Search_Fabric',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsFabric),
                success: function (data) {
                    $("#dvFabricProduct").html('');
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == 'Success') {

                        var div3Content = ''; var imPath = imgPathCRM + "/web/Images/Fabric_Icon/";
                        var rowCount = 0;
                        for (var i = 0; i < obj.length; i++) {

                            div3Content = div3Content + "<div class='col-lg-3 col-md-6 col-sm-8'>";
                            div3Content = div3Content + "<div class='singel-publication mt-30'>";
                            div3Content = div3Content + "<a href='@Url.Action("FabricDetail", "Product")?code=" + obj[i].MaterialCode + "'>";
                            div3Content = div3Content + "<div class='image'>";
                            div3Content = div3Content + "<img src='" + imPath + obj[i].MaterialCode + ".jpeg?t = " + new Date().getTime() + "'  alt='" + obj[i].MaterialCode + "'>";
                            div3Content = div3Content + "</div></a>";
                            div3Content = div3Content + "<div class='name'>";
              
                            div3Content = div3Content + "<p style='font-size: 12px; line-height: 20px;'>Blend: " + obj[i].BlendDescription + " " + obj[i].BlendValue + "</p>";
                            div3Content = div3Content + "<p style='font-size: 12px; line-height: 20px;'>Weave Type: " + obj[i].WeaveType + "</p>";
                            div3Content = div3Content + "<p style='font-size: 12px; line-height: 20px;'>Strech Type: " + obj[i].StrechType + "</p>";
                            div3Content = div3Content + "<p style='font-size: 12px; line-height: 20px;'>Design Pattern: " + obj[i].DesignPattern + "</p>";
                            div3Content = div3Content + "</div>";
                            div3Content = div3Content + "</div>";
                            div3Content = div3Content + " </div>";
                            rowCount++;
                        }
                    }
                    else {
                        rowCount = 0;
                    }
                    $('#dvFabricProduct').append(div3Content);
                    $('#liCountItem').html("Showing " + rowCount + " Items");
                    $("img").on("error", function () {
                        $(this).attr("src", "/Images/placeholder.jpg");
                    });
                },
                error: function (err) {
                    alert(err);
                }
            });
        }


    </script>
}


<!--====== SHOP PART START ======-->

<section id="shop-page" class="pt-10 pb-10 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-top-search">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a href="@Url.Action("DashBoard", "Home")"><i class="fa fa-home"></i></a> /
                            </li>
                            <li class="nav-item">
                                New Arrivals /
                            </li>
                            <li class="nav-item"><a href="@Url.Action("Fabric", "Product")">Fabric </a>/</li>
                            <li class="nav-item" id="liPRM"></li>
                            <li class="nav-item" id="liCountItem"></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="shop-grid" role="tabpanel" aria-labelledby="shop-grid-tab">
                <div class="row" id="dvFabricProduct">

                </div>
            </div>
        </div>
    </div> 
</section>

<!--====== COURSES PART ENDS ======-->
