
@{
    ViewBag.Title = "YarnCatalogue";
}

@{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    
    <script type="text/javascript">

        $(document).ready(function () {
            Fn_Get_Yarn_CatalogueDetail();
        });


        function Fn_Get_Yarn_CatalogueDetail() {

            var clsYarn = {};

            $.ajax({
                type: "POST",
                url: '/Product/Fn_Get_Yarn_CatalogueDetail',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsYarn),
                success: function (data) {
                    $("#divYarnCatalogue").html('');
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        var div3Content = '';
                        for (var i = 0; i < obj.length; i++) {
                            div3Content = div3Content + "<div class='col-lg-3 col-md-6 col-sm-8'>";
                            div3Content = div3Content + "<div class='singel-publication mt-10'>";
                            div3Content = div3Content + "<div class='image'>";
                            div3Content = div3Content + "<a href='@Url.Action("YarnCatalogueDetail", "Product")?Code=" + obj[i].MaterialCode + "'><img class='image' src='/Images/Yarncatalogue/" + obj[i].MaterialCode + ".jpeg?t=" + new Date().getTime() + "' width='227px' height='227px' /></a><br/>";
                            //div3Content = div3Content + "<img src='/Images/Yarncatalogue/" + obj[i].MaterialCode + ".jpg?t=" + new Date().getTime() + "' width='230px' height='230px'>";
                            //div3Content = div3Content + "<div class='add-cart'>";
                            //div3Content = div3Content + " </div>";
                            div3Content = div3Content + " </div>";
                            div3Content = div3Content + "<div class='name'>";
                            @*div3Content = div3Content + "<a href='@Url.Action("YarnCatalogueDetail", "Product")?MaterialCode=" + obj[i].MaterialCode + "'>";*@
                            div3Content = div3Content + "<p class='text-left' style='font-size: 12px; line-height: 20px;'>Blend Description: " + obj[i].BlendDescription + "</p>";
                            div3Content = div3Content + "<p class='text-left' style='font-size: 12px; line-height: 20px;'>GD Type: " + obj[i].GDType + "</p>";
                            div3Content = div3Content + "<p class='text-left' style='font-size: 12px; line-height: 20px;'>Ply: " + obj[i].Ply + "</p>";
                            div3Content = div3Content + "<p class='text-left' style='font-size: 12px; line-height: 20px;'>Count: " + obj[i].Count + "</p>";
                            div3Content = div3Content + "<p class='text-left' style='font-size: 12px; line-height: 20px;'>Count Type: " + obj[i].CountType + "</p>";
                            div3Content = div3Content + "<p class='text-left' style='font-size: 12px; line-height: 20px;'>SLUB: " + obj[i].SLUB + "</p>";
                            div3Content = div3Content + "<p class='text-left' style='font-size: 12px; line-height: 20px;'>Technique: " + obj[i].Technique + "</p>";
                            div3Content = div3Content + "<p class='text-left' style='font-size: 12px; line-height: 20px;'>Quality: " + obj[i].Quality + "</p>";
                            div3Content = div3Content + "</div>";
                            div3Content = div3Content + "</div>";
                            div3Content = div3Content + "</div>";
                        }
                    }
                    else {

                    }
                    $("#divYarnCatalogue").append(div3Content);
                    $("img").on("error", function () {
                        $(this).attr("src", "/Images/placeholder.jpg");
                    });
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

    </script>
}


<!--====== SHOP PART START ======-->

<section id="shop-page" class="pt-10 pb-10 gray-bg">
    <div class="container">
        <div class="row">
            <!-- Breadcrumb Begin -->
            <div class="col-lg-12">
                <div class="shop-top-search">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a href="@Url.Action("DashBoard", "Home" )"><i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="nav-item" style="margin-left:-3%;font-size:16px;">
                                / Showcase
                            </li>
                            <li class="nav-item" style="margin-left:-3%;font-size:16px;">
                                / Yarn Catalogue
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb End -->
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="shop-grid" role="tabpanel" aria-labelledby="shop-grid-tab">
                <div class="row justify-content-center" id="divYarnCatalogue">

                </div> <!-- row -->
            </div>
            <div class="tab-pane fade" id="shop-list" role="tabpanel" aria-labelledby="shop-list-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="singel-publication mt-30">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="image">
                                        <img src="images/publication/p-1.jpg" alt="Publication">
                                        <div class="add-cart">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="cont">
                                        <div class="name">
                                            <a href="shop-singel.html"><h6>Set for life </h6></a>
                                            <span>$50.00</span>
                                        </div>
                                        <div class="description pt-10">
                                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                        </div>
                                        <div class="button">
                                            <a href="#" class="main-btn">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- row -->
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-6">
                        <div class="singel-publication mt-30">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="image">
                                        <img src="images/publication/p-2.jpg" alt="Publication">
                                        <div class="add-cart">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="cont">
                                        <div class="name">
                                            <a href="shop-singel.html"><h6>Set for life </h6></a>
                                            <span>$50.00</span>
                                        </div>
                                        <div class="description pt-10">
                                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                        </div>
                                        <div class="button">
                                            <a href="#" class="main-btn">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- row -->
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-6">
                        <div class="singel-publication mt-30">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="image">
                                        <img src="images/publication/p-3.jpg" alt="Publication">
                                        <div class="add-cart">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="cont">
                                        <div class="name">
                                            <a href="shop-singel.html"><h6>Set for life </h6></a>
                                            <span>$50.00</span>
                                        </div>
                                        <div class="description pt-10">
                                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                        </div>
                                        <div class="button">
                                            <a href="#" class="main-btn">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- row -->
                        </div> <!-- singel publication -->
                    </div>
                    <div class="col-lg-6">
                        <div class="singel-publication mt-30">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="image">
                                        <img src="images/publication/p-4.jpg" alt="Publication">
                                        <div class="add-cart">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="cont">
                                        <div class="name">
                                            <a href="shop-singel.html"><h6>Set for life </h6></a>
                                            <span>$50.00</span>
                                        </div>
                                        <div class="description pt-10">
                                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                        </div>
                                        <div class="button">
                                            <a href="#" class="main-btn">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- row -->
                        </div> <!-- singel publication -->
                    </div>
                </div> <!-- row -->
            </div>
        </div> <!-- tab content -->
        <!--<div class="row">
            <div class="col-lg-12">
                <nav class="courses-pagination mt-50">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a href="#" aria-label="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="active" href="#">1</a></li>
                        <li class="page-item"><a href="#">2</a></li>
                        <li class="page-item"><a href="#">3</a></li>
                        <li class="page-item">
                            <a href="#" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>-->
        <!-- courses pagination -->
        <!--</div>
        </div>-->
        <!-- row -->
    </div> <!-- container -->
</section>

<!--====== COURSES PART ENDS ======-->
