
@{
    ViewBag.Title = "CustomerMeetingListDetail";
}

@{
    <script>

        $(document).ready(function () {

            Fn_Get_Meeting_List();
            const urlParams = new URLSearchParams(window.location.search);
            const prmMeetingId = urlParams.get('MeetingId');
            const prmStatus = urlParams.get('vStatus');

            var currdate = new Date();
            var currmonth = currdate.getMonth() + 1;
            var currYear = currdate.getFullYear();
            var h = currdate.getHours();
            var tzone = h >= 12 ? "PM" : "AM";
            h = h % 12;
            h = h ? h : 12;
            h = (h < 10) ? ("0" + h) : h;

            var m = currdate.getMinutes();
            m = (m < 10) ? ("0" + m) : m;

            var s = currdate.getSeconds();
            s = (s < 10) ? ("0" + s) : s;

            //$('#dtpReschedule').datepicker({
            //    dateFormat: 'dd-mm-yy' + "' " + h + ":" + m + ":" + s + "'" + " '" + tzone + "'",
            //    minDate: 0
            //});

        });

        function Fn_Edit_Meeting(MeetingId) {
            sessionStorage.setItem("MeetingId", MeetingId);
            window.location.href = '/CustomerVisit/CustomerVisitor?mId=' + MeetingId;
        }

        function Fn_Get_Meeting_List() {
            
            const urlParams = new URLSearchParams(window.location.search);
            const prmMeetingId = urlParams.get('MeetingId');
            var clsCustomerVisitor = {};
            //clsCustomerVisitor.nLoginId = $("#strUserId").val();
            clsCustomerVisitor.nLoginId = sessionStorage.getItem("CustId");
            clsCustomerVisitor.MeetingId = prmMeetingId;
            
            $.ajax({
                type: "POST",
                url: "/CustomerVisit/Fn_Get_Meeting_List",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsCustomerVisitor),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj.vErrorMsg == 'success') {
                        $("#h_MeetingId").html(" ( Meeting Id : " + obj.MeetingId + " )");
                        $("#hdnCustId").val(obj.CustId);
                        $("#vMeetingId").html(prmMeetingId);
                        $("#vCustomerName").html(obj.vCustomerName);
                        $("#vEmail").html(obj.vEmailId);
                        $("#vMobile").html(obj.vMobile);
                        $("#vAddress").html(obj.vAddress1);
                        $("#vState").html(obj.vState);
                        $("#hdnStatus").val(obj.vStatus);
                        $("#pEdit").html('');

                        if (obj.vStatus == "Open" || obj.vStatus == "Schedule") {
                            var p = "<p class='btn btn-link' onclick='Fn_Edit_Meeting(" + obj.MeetingId + ");'>Edit</p>";
                            $("#pEdit").append(p);
                            $("#txtMeetingID").val(obj.MeetingId);
                            $('#dtpReschedule').val(obj.vMeetingDate);
                            $("#txtMeetingVenue").val(obj.vMeetingVenue);
                            $("#txtPurposeofVisit").val(obj.vMeetingPurposevisit);
                            $("#dvReschedule").show();
                        }
                        else {
                            $("#pEdit").html('');
                            $("#dvReschedule").hide();
                        }
                        $("#vCity").html(obj.vCity);
                        $("#vPinCode").html(obj.vPinCode);
                        $("#vCompanyName").html(obj.vCompanyName);
                        var _row = ''; var Remk = '';
                        $("#tbodyFollowUp_tbody").html('');
                        
                        _row += "<tr><td><span style='color: #007bff; cursor: pointer;' onclick='Fn_ShowList(" + obj.MeetingId + ");'>" + obj.MeetingId + "</span></td>";
                        _row += "<td>" + obj.vMeetingVenue + "</td>";
                        _row += "<td>" + obj.vMeetingDate + "</td>";
                        _row += "<td>" + obj.vMeetingPurposevisit + "</td>";
                        _row += "<td>" + obj.vStatus + "</td>";

                        if (obj.FollowUpID != 0) {
                            _row += "<td>Follow Up : " + obj.FollowUpID + "</td>";
                        }
                        else {
                            _row += "<td>New</td>";
                        }
                        _row += "</tr>";

                        $("#tbodyFollowUp_tbody").append(_row);

                        Remk = "<tr class='cls_" + obj.MeetingId + " cls_Row'><td>" + obj.vMeetingCommunication + "<td></tr>";

                        $("#vMeetingCommunication").append(Remk);

                        let arr = obj.oProductList;

                        $("#dvProductList").html('');
                        var htmlList = '';
                        var imgPath = ""
                        if (arr[0].vErrorMsg == "Success") {
                            for (let i = 0; i < arr.length; i++) {
                                if (arr[0].vErrorMsg == "No Record Found.") {
                                    htmlList += "<tr class='cls_" + obj.MeetingId + " cls_Row'><td colspan='4'><center>No Record Found.</center></td>";
                                }
                                else {

                                    if (arr[i].vProductCategory == "Yarn") {
                                        imgPath = "/Images/Yarncatalogue/" + arr[i].vMaterialCode + ".jpeg";
                                    }
                                    if (arr[i].vProductCategory == "Fabric") {
                                        imgPath = "/Images/Fabriccatalogue/" + arr[i].vMaterialCode + ".jpeg";
                                    }
                                    if (arr[i].vProductCategory == "Garments") {
                                        imgPath = "/Images/Garmentscatalogue/" + arr[i].vMaterialCode + ".jpeg";
                                    }

                                    htmlList += "<tr class='cls_" + obj.MeetingId + " cls_Row'><td>" + arr[i].vProductCategory + "</td>";
                                    htmlList += "<td>" + arr[i].vMaterialCode + "</td>";
                                    htmlList += "<td><img class='image' src='" + imgPath + "' /></td>";
                                    htmlList += "<td>" + arr[i].vScanCode + "</td>";
                                    htmlList += "</tr>";
                                }
                            }
                        }
                        else {
                            if (obj.FollowUpID == "") {
                                htmlList += "<tr class='cls_" + obj.FollowUpID + " cls_Row'><td colspan='4'><center>" + arr[0].vErrorMsg + "</center></td>";
                                //htmlList += "<tr class='cls_" + obj.MeetingId + " cls_Row'><td colspan='4'><center>" + arr[0].vErrorMsg + "</center></td>";
                            }
                        }
                        $("#dvProductList").append(htmlList);
                        if (obj.FollowUpID != 0) {
                            Fn_Get_FollowUp_MeetingList(obj.FollowUpID);
                        }
                    }
                    else {
                        swal("", obj.vErrorMsg, "error");
                    }
                    $("img").on("error", function () {
                        $(this).attr("src", "/Images/placeholder.jpg");
                    });
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Fn_Get_FollowUp_MeetingList(id) {

            var clsCustomerVisitor = {};
            //clsCustomerVisitor.nLoginId = $("#strUserId").val();
            clsCustomerVisitor.nLoginId = sessionStorage.getItem("CustId");
            clsCustomerVisitor.MeetingId = id;
            $.ajax({
                type: "POST",
                url: "/CustomerVisit/Fn_Get_FollowUp_MeetingList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsCustomerVisitor),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    var html = ''; var Remark = '';
                    if (obj[0].vErrorMsg == 'success') {
                        for (let i = 0; i < obj.length; i++) {
                            html += "<tr><td><span style='color: #007bff; cursor: pointer;' onclick='Fn_ShowList(" + obj[i].MeetingId + ");'>" + obj[i].MeetingId + "</span></td>";
                            html += "<td>" + obj[i].vMeetingVenue + "</td>";
                            html += "<td>" + obj[i].vMeetingDate + "</td>";
                            html += "<td>" + obj[i].vMeetingPurposevisit + "</td>";
                            html += "<td>" + obj[i].vStatus + "</td>";
                            if (obj[i].FollowUpID == 0) {
                                html += "<td>New</td></tr>";
                            }
                            else {
                                html += "<td>Follow Up :" + obj[i].FollowUpID + "</td></tr>";
                            }

                            let arr = obj[i].oProductList;

                            var html_FollowUp = '';
                            var imgPath = ""
                            for (let k = 0; k < arr.length; k++) {
                                if (arr[0].vErrorMsg == "No Record Found.") {
                                    //    html_FollowUp += "<tr class='cls_" + obj[i].MeetingId + " cls_Row'><td colspan='4'><center>No Record Found.</center></td>";
                                }
                                else {
                                    if (arr[k].vProductCategory == "Yarn") {
                                        imgPath = "/Images/Yarncatalogue/" + arr[k].vMaterialCode + ".jpeg";
                                    }
                                    if (arr[k].vProductCategory == "Fabric") {
                                        imgPath = "/Images/Fabriccatalogue/" + arr[k].vMaterialCode + ".jpeg";
                                    }
                                    if (arr[k].vProductCategory == "Garments") {
                                        imgPath = "/Images/Garmentscatalogue/" + arr[k].vMaterialCode + ".jpeg";
                                    }

                                    html_FollowUp += "<tr class='cls_" + obj[i].MeetingId + " cls_Row'><td>" + arr[k].vProductCategory + "</td>";
                                    html_FollowUp += "<td>" + arr[k].vMaterialCode + "</td>";
                                    html_FollowUp += "<td><img class='image' src='" + imgPath + "' /></td>";
                                    html_FollowUp += "<td>" + arr[k].vScanCode + "</td>";
                                    html_FollowUp += "</tr>";
                                }
                            }
                            $("#dvProductList").append(html_FollowUp);

                            //Remark += "<tr class='cls_" + obj[i].MeetingId + " cls_Row' style='display:none;'><td><center>Meeting Id : " + obj[i].MeetingId + "</center><td></tr>";
                            Remark += "<tr class='cls_" + obj[i].MeetingId + " cls_Row'><td>" + "<b>" + obj[i].MeetingId + " :- </b>" + obj[i].vMeetingCommunication + "<td></tr>";

                            if (obj[i].FollowUpID != 0) {
                                Fn_Get_FollowUp_MeetingList(obj[i].FollowUpID);
                            }
                        }
                        $("#tbodyFollowUp_tbody").append(html);
                        $("#vMeetingCommunication").append(Remark);
                    }
                    else {
                        swal("", obj.vErrorMsg, "error");
                    }
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Fn_ShowList(id) {
            $(".cls_Row").show();
            $(".cls_").show();
            $("#h_MeetingId").html('');
            $("#h_MeetingId").html("( Meeting Id : " + id + ")");
            var txtMeetingId = $("#txtMeetingID").val();

            if (txtMeetingId == id) {
                $("#pEdit").show();
                $("#dvReschedule").show();
            }
            else {
                $("#pEdit").hide();
                $("#dvReschedule").hide();
            }
        }

        function Fn_Reschedule_Meeting() {

            var clsCustomerVisitor = {};
            //clsCustomerVisitor.nLoginId = $("#strUserId").val();
            clsCustomerVisitor.nLoginId = sessionStorage.getItem("CustId");
            clsCustomerVisitor.MeetingId = $("#txtMeetingID").val();
            clsCustomerVisitor.vMeetingDate = $("#dtpReschedule").val();
            clsCustomerVisitor.vMeetingVenue = $("#txtMeetingVenue").val();
            clsCustomerVisitor.vMeetingPurposevisit = $("#txtPurposeofVisit").val();
            clsCustomerVisitor.vCompanyName = $("#vCompanyName").html();
            clsCustomerVisitor.vCustomerName = $("#vCustomerName").html();
            clsCustomerVisitor.vEmailId = $("#vEmail").html();
            clsCustomerVisitor.vMobile = $("#vMobile").html();
            clsCustomerVisitor.vAddress1 = $("#vAddress").html();
            clsCustomerVisitor.CustId = $("#hdnCustId").val();
            clsCustomerVisitor.vStatus = $("#hdnStatus").val();

            $.ajax({
                type: "POST",
                url: '/CustomerVisit/Fn_Reschedule_Meeting',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsCustomerVisitor),
                beforeSend: function () {
                    $("#loader").show();
                },
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj.vErrorMsg == 'Success') {

                        var msg = "Rescheduled Meeting Id : " + obj.MeetingId;
                        swal("", msg, "success");
                        Fn_Get_Meeting_List();
                        $("#myModal").modal('hide');
                    }
                    else {
                        swal("", obj.vErrorMsg, "error");
                    }
                },
                complete: function () {
                    $("#loader").hide();
                },
                error: function (err) {
                    swal("", err, "error");
                }
            });
        }

    </script>

}


<section id="contact-page" class="pt-10 pb-10 gray-bg">
    <div class="container">
        <div class="row">
            <!-- Breadcrumb Begin -->
            <div class="col-lg-12">
                <div class="shop-top-search">
                    <div class="shop-bar">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a href="@Url.Action("DashBoard", "Home" )"><i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="nav-item" style="margin-left:-3%;font-size:16px;">
                                / Customer Meeting List Detail
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb End -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>


<section id="contact-page" class="pt-10 pb-10 gray-bg">
    <div class="container">
        <div class="contact-from" style="padding: 25px">
            <div class="main-form">
                <div class="container-fluid mt-2" style="padding: 5px; border-radius: 4px; background: var(--white); transition: box-shadow 0.5s ease; height: 100 %; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    <div class="row">
                        <div class="col-sm-10"><h5><b>Customer Detail</b></h5></div>
                        <div class="col-sm-1" id="dvReschedule"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">Reschedule</button></div>
                        <div class="col-sm-1" id="pEdit"></div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-sm-4">
                            <p><b> Meeting Id </b> : <span id="vMeetingId"></span></p>
                        </div>
                        <div class="col-sm-4">
                            <p><b> Name </b> : <span id="vCustomerName"></span></p>
                        </div>
                        <div class="col-sm-4">
                            <p><b> Email </b> : <span id="vEmail"></span></p>
                        </div>
                        <div class="col-sm-4">
                            <p><b> Mobile </b> : <span id="vMobile"></span></p>
                        </div>
                        <div class="col-sm-4">
                            <p><b> Address </b> : <span id="vAddress"></span></p>
                        </div>
                        <div class="col-sm-4">
                            <p><b> State </b> : <span id="vState"></span></p>
                        </div>
                        <div class="col-sm-4">
                            <p><b> City </b> : <span id="vCity"></span></p>
                        </div>
                        <div class="col-sm-4">
                            <p><b> Pin Code </b> : <span id="vPinCode"></span></p>
                        </div>
                        <div class="col-sm-4">
                            <p><b> Company Name </b> : <span id="vCompanyName"></span></p>
                        </div>

                    </div>

                </div>

                <div class="container mt-2" style="padding: 5px; border-radius: 4px; background: var(--white); transition: box-shadow 0.5s ease; height: 100 %; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><b>Meeting Detail</b></h5>
                        </div>
                    </div>
                    <div class="row mt-2">

                        <div class="col-sm-12">
                            <table class="table table-striped table-hover p-5">
                                <thead style="background-color: #08417B; color: white;">
                                    <tr>
                                        <td>Meeting Id</td>
                                        <td>Meeting Venue</td>
                                        <td>Meeting Date</td>
                                        <td>Purpose of Visit</td>
                                        <td>Status</td>
                                        <td>Type</td>
                                    </tr>
                                </thead>
                                <tbody id="tbodyFollowUp_tbody"></tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="container mt-2" style="padding: 5px; border-radius: 4px; background: var(--white); transition: box-shadow 0.5s ease; height: 100%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    <div class="row">
                        <div class="col-sm-12"><h5 class="text-center"><b>Product List</b>  <b id="h_MeetingId"></b></h5></div>
                    </div>
                    <div class="row mt-2 p-2">
                        <div class="col-lg-8">
                            <div class="row">
                                <table class="table table-striped table-hover">
                                    <thead style="background-color: #08417B; color: white;">
                                        <tr>
                                            <td style="width: 10%">Category</td>
                                            <td style="width: 40%">Product</td>
                                            <td style="width: 10%">Image</td>
                                            <td style="width: 100%">Scan Code</td>
                                        </tr>
                                    </thead>
                                    <tbody id="dvProductList"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <table class="table table-striped table-hover">
                                <thead style="background-color: #08417B; color: white;">
                                    <tr><td><center>Discussion</center></td><td></td></tr>
                                </thead>
                                <tbody id="vMeetingCommunication">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hdnCustId" name="hdnCustId" value="" />
                <input type="hidden" id="hdnStatus" name="hdnStatus" value="" />


            </div> <!-- main form -->
        </div> <!--  contact from -->
        <!-- row -->

    </div> <!-- container -->

</section>